.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  img {
    width: 60;
  }
}

.navContainer {
  .navLinks {
    display: flex;
    list-style: none;
    gap: 20px;
  }
}
