.mainBody {
  .FilterBoxContainer {
    background-color: #212121;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .fitlerBtn {
      font-size: 13px;
      border-radius: 5px;
      border: 0;
      padding: 10px;
      background-color: #ba9e50;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 0.9;
        box-shadow: 1px 1px 10px #ffffff80;
      }
    }
  }
}
.restaurantsBox {
  display: flex;
  padding: 0 0 50px;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.loadingText {
  font-size: 300px;
  color: red;
}
