.card {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  @media screen and (min-width: 767px) {
    max-width: calc(25%);
    flex-basis: calc(25%);
  }
}

.mainBanner {
  position: relative;
  margin-bottom: 10px;
  img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
  }
  .discountInfo {
    color: #fff;
    padding: 15px;
    position: absolute;
    bottom: 5px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    margin: 0;
  }
}

.title {
  font-size: 16px;
  line-height: 1.3;
  margin: 0 0 10px;
}

.avgRating {
  font-size: 13px;
  line-height: 1.3;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
